*{
  background: black;
  color: white;
}
div{
  font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
  font-size: 24px;
}
table{
  font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
  width: 100vw;
}
input{
  font-size: 18px;
}
td,tr,th {
  background: #333333!important;
  color: white!important;
  font-size: 20px;
}
.ui-paginator-bottom {
  background: #333333!important;
  color: white!important;
}
.world  h2,.world h3{
  display: inline;
}
.canvasjs-chart-credit{
  display: none!important;
}
span[value='Trial Version']{
display: none!important;
}
#chartContainer {
  background: #000000!important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #434343, #000000)!important;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #434343, #000000)!important;
}
